@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

#welcomeBanner {
  font-size: 3em;
}

.s-header {
  font-size: 3.5em;
  font-weight: 900;
}

* {
  font-family: "Courier New", "Courier";
}

@import "~bulma/bulma";
